<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Main</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../public/css/custom-style.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Js code -->


\

  <style media="screen">

      .jumbotron {
        background-image: url("http://lorempixel.com/1600/600/city");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom-center;
        padding: 7rem 0;
      }
      .mastinfo{
        background-color: rgba(255,255,255,0.85);
        padding: 2rem;
      }

      .card {
        min-height:500px;
      }

  </style>


</head>

<body>

</body>

  <section class="jumbotron">  <!-- Adds styling to class -->
    <div class="container mastinfo">    <!-- Puts all text in a container -->
      <div class="display-2">
        Super Secret Project
      </div>
      <p class="text-dark">Welcome</p>

      <div class="row">
        <div class="col text-center">
          <form id="Upload" method="get">
            <input type="file" required>
            <br>
            <input type="submit" value="Upload" class="btn btn-primary btn-large btn-up"
            <div style="clear:both;"></div>
          </form>
        </div>

      </div>

    </div>
  </section>


</html>
