<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="labels" method="post">
          <h1>Results</h1>

      <% for (i = 0; i < labels.length; i++) { %>
        <p> <%= labels[i] %> </p>
      <% } %>
    </form>
  </body>
</html>
