<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <div id="results" class="col-sm-6 offset-3">
    </div>
  </body>
  <script src="../public/scripts/displaying-results.js">
  var ads = <%=ads%>;
  displayAds(ads);
  </script>
</html>
