.results-title {
  font-size: 4rem;
  color: black;
}

.jumbotron {
  background-image: url("/images/animals.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom-center;
  padding: 5rem 0;
}

.jumbotron-labels {
  padding: 5rem 0;
}

.logo {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.mastinfo{
  background-color: rgba(255,255,255,0.85);
  padding: 2rem;
}

.btn-up {
  margin-top: 20px;
  width: 300px;
}

.subtitle {
  margin: 10px;
  font-size: 30px;
}

#mainRegionSelecter{
  margin-top: 20px;
  width: 300px;
}

.colored-body {
  background-color: #c5eff7;
}

.results-title {
  color: white;
  text-align: center;
}

.carousel-image {
  object-fit: contain;
  height: 300px;
  width: auto;
  min-width: 100%;
}

.price {
  color: green;
}

#results {
  margin-top: 16px;
}

/* Extend Bootstrap cards */
.card {
  margin-bottom: 16px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 10px;
}
